
.collaborative_canvas {
    position: relative;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    /*margin: auto;*/

    display: flex;
    flex-wrap: wrap;
    border: 2px solid black;
    max-width: 480px;
    max-height: 480px;
    height: 100vw;
}

.collaborative_canvas div {
    /* These values depend on the CanvasSharedState @width & @height values */
    width: calc(100% / 16);
    height: calc(100% / 16);
    /*width: 6%;*/
    /*height: 6%;*/
}

span.color-picker {
    display: inline-block;
    border: 1px dotted midnightblue;
    border-radius: 0.4rem;
    cursor: pointer;
    width: 40px;
    height: 40px;
}

span.selected {
    border: 2px dashed black;
}

.red { background-color: red }
.green { background-color: lightgreen }
.blue { background-color: aqua }
.yellow { background-color: yellow }
.purple { background-color: mediumpurple }
.orange { background-color: orange }
.white { background-color: white }
