
body {
    background-color: #eee;
}
.kenken {
    position: relative;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    /*margin: auto;*/

    display: flex;
    flex-wrap: wrap;
    border: 1px solid #111;
    height: 100vw;
}
.kenken.size4 {
    max-width: 317px;
    max-height: 317px;
}
.kenken.size5 {
    max-width: 394px;
    max-height: 394px;
}
.kenken.size6 {
    max-width: 471px;
    max-height: 471px;
}
.kenken.size7 {
    max-width: 548px;
    max-height: 548px;
}
.kenken .h-border {
    height: 7px;
    width: 70px;
    border: 1px solid #111;
    background-color: #111;
}
.kenken .h-border.off {
    background-color: #fff;
    border-color: #ccc;
}
.kenken .v-border {
    width: 7px;
    height: 70px;
    border: 1px solid #111;
    background-color: #111;
}
.kenken .v-border.off {
    background-color: #fff;
    border-color: #ccc;
}
.kenken .v-border.clickable:hover {
    background-color: #888;
}
.kenken .h-border.clickable:hover {
    background-color: #888;
}
.kenken .intersection {
    width: 7px;
    height: 7px;
    border: 1px solid #111;
    background-color: #111;
}
.kenken .cell {
    width: 70px;
    height: 70px;
    /*border: 1px solid #111;*/
}

.name-input {
    size: 25;
    width: 50%;
}
