<div id="pc1" onclick="droppc(cg)">
  <img src="images/i25.jpg" name="dpc" />
</div>
<a href="#pg0" name="pg0"></a>
<!-- game0 start -->
<div class="playing-surface">
  <div class="board-and-player">
    <div class="board">
      <%= for index <- (0..399) do %>
        <div
          class="board-cell"
          onClick={"obc(#{index})"}
          onMouseOver={"ombin(#{index})"}
          onMouseOut={"ombout(#{index})"}
        >
        </div>
      <% end %>
    </div>
    <div class="replay-controls">
      <map name="map0">
        <area
          coords="1,1,23,19"
          title="to start"
          href="javascript:void(0)"
          onclick="gostart(0); return false;"
        />
        <area
          coords="24,1,46,19"
          title="back 3"
          href="javascript:void(0)"
          onclick="back3(0); return false;"
        />
        <area
          coords="47,1,69,19"
          title="back 1"
          href="javascript:void(0)"
          onclick="back(0); return false;"
        />
        <area
          coords="70,1,92,19"
          title="forward 1"
          href="javascript:void(0)"
          onclick="forward(0); return false;"
        />
        <area
          coords="93,1,115,19"
          title="forward 3"
          href="javascript:void(0)"
          onclick="forward3(0); return false;"
        />
        <area
          coords="116,1,138,19"
          title="to end"
          href="javascript:void(0)"
          onclick="goend(0); return false;"
        />
        <area
          coords="139,1,161,19"
          title="stop any playback"
          href="javascript:void(0)"
          onclick="stopanyplayback(0); return false;"
        />
        <area
          coords="162,1,184,19"
          title="autoplay"
          href="javascript:void(0)"
          onclick="astart(0); return false;"
        />
      </map>
      <img src="images/p3condb.gif" border="0" usemap="#map0" height="18" width="183" />
    </div>
  </div>
  <div class="controls">
    <div class="flippers">
      <img
        src="images/flipdiagonal.gif"
        title="flip top right to bottom left"
        onclick="pieceFlipDiag()"
      />
      <img
        src="images/fliphorizontal.jpg"
        title="flip side to side"
        onclick="pieceFlipHorz()"
      />
      <img
        src="images/flipvertical.gif"
        title="flip top to bottom"
        onclick="pieceFlipVert()"
      />
      <button onclick="passYourTurn()">
        PASS
      </button>
    </div>
    playerInfo(bluesquare);
    <div class="piece-set">
      <img
        name="bluepieces"
        src="images/Ba.jpg"
        id=""
        onclick='oc("Ba")'
        onmouseover='omin("Ba")'
        onmouseout='omout("Ba")'
      /><img
        src="images/Bb.jpg"
        id=""
        onclick='oc("Bb")'
        onmouseover='omin("Bb")'
        onmouseout='omout("Bb")'
      /><img
        src="images/Bc.jpg"
        id=""
        onclick='oc("Bc")'
        onmouseover='omin("Bc")'
        onmouseout='omout("Bc")'
      /><img
        src="images/Bd.jpg"
        id=""
        onclick='oc("Bd")'
        onmouseover='omin("Bd")'
        onmouseout='omout("Bd")'
      /><img
        src="images/Be.jpg"
        id=""
        onclick='oc("Be")'
        onmouseover='omin("Be")'
        onmouseout='omout("Be")'
      /><img
        src="images/Bf.jpg"
        id=""
        onclick='oc("Bf")'
        onmouseover='omin("Bf")'
        onmouseout='omout("Bf")'
      /><img
        src="images/Bg.jpg"
        id=""
        onclick='oc("Bg")'
        onmouseover='omin("Bg")'
        onmouseout='omout("Bg")'
      />
      <img
        src="images/Bh.jpg"
        id=""
        onclick='oc("Bh")'
        onmouseover='omin("Bh")'
        onmouseout='omout("Bh")'
      /><img
        src="images/Bi.jpg"
        id=""
        onclick='oc("Bi")'
        onmouseover='omin("Bi")'
        onmouseout='omout("Bi")'
      /><img
        src="images/Bj.jpg"
        id=""
        onclick='oc("Bj")'
        onmouseover='omin("Bj")'
        onmouseout='omout("Bj")'
      /><img
        src="images/Bk.jpg"
        id=""
        onclick='oc("Bk")'
        onmouseover='omin("Bk")'
        onmouseout='omout("Bk")'
      /><img
        src="images/Bl.jpg"
        id=""
        onclick='oc("Bl")'
        onmouseover='omin("Bl")'
        onmouseout='omout("Bl")'
      /><img
        src="images/Bm.jpg"
        id=""
        onclick='oc("Bm")'
        onmouseover='omin("Bm")'
        onmouseout='omout("Bm")'
      /><img
        src="images/Bn.jpg"
        id=""
        onclick='oc("Bn")'
        onmouseover='omin("Bn")'
        onmouseout='omout("Bn")'
      />
      <img
        src="images/Bo.jpg"
        id=""
        onclick='oc("Bo")'
        onmouseover='omin("Bo")'
        onmouseout='omout("Bo")'
      /><img
        src="images/Bp.jpg"
        id=""
        onclick='oc("Bp")'
        onmouseover='omin("Bp")'
        onmouseout='omout("Bp")'
      /><img
        src="images/Bq.jpg"
        id=""
        onclick='oc("Bq")'
        onmouseover='omin("Bq")'
        onmouseout='omout("Bq")'
      /><img
        src="images/Br.jpg"
        id=""
        onclick='oc("Br")'
        onmouseover='omin("Br")'
        onmouseout='omout("Br")'
      /><img
        src="images/Bs.jpg"
        id=""
        onclick='oc("Bs")'
        onmouseover='omin("Bs")'
        onmouseout='omout("Bs")'
      /><img
        src="images/Bt.jpg"
        id=""
        onclick='oc("Bt")'
        onmouseover='omin("Bt")'
        onmouseout='omout("Bt")'
      /><img
        src="images/Bu.jpg"
        id=""
        onclick='oc("Bu")'
        onmouseover='omin("Bu")'
        onmouseout='omout("Bu")'
      />
    </div>
  </div>
</div>

<hr />

<script
  type="text/javascript"
  src={Routes.static_path(@conn, "/assets/pentomino.js")}
>
  FindScrBrd();	// find the *named* board and the *named* piece stashes

  GoEnd();
</script>
<script type="text/javascript">
  InitSys()
  initPosition()
  FindScrBrd();	// find the *named* board and the *named* piece stashes

  GoEnd();
</script>
