<div id="pc1" onclick="droppc(cg)" xmlns="http://www.w3.org/1999/html">
  <img src="images/i25.jpg" name="dpc" />
</div>
<a href="#pg0" name="pg0"></a>
<!-- game0 start -->
<div class="playing-surface">
  <div class="board-and-player">
    <div class="board">
      <%= for y <- (0..19), x <- (0..19) do %>
        <% index = board_position_to_internal_poard_index(x, y) |> IO.inspect(label: "WTF") %>
        <div
          class="board-cell"
          id={"cell-#{index}"}
          onClick={"obc(#{index})"}
          onMouseOver={"ombin(#{index})"}
          onMouseOut={"ombout(#{index})"}
        >
        </div>
      <% end %>
    </div>
    <div class="replay-controls">
      <map name="map0">
        <area
          coords="1,1,23,19"
          title="to start"
          href="javascript:void(0)"
          onclick="gostart(0); return false;"
        />
        <area
          coords="24,1,46,19"
          title="back 3"
          href="javascript:void(0)"
          onclick="back3(0); return false;"
        />
        <area
          coords="47,1,69,19"
          title="back 1"
          href="javascript:void(0)"
          onclick="back(0); return false;"
        />
        <area
          coords="70,1,92,19"
          title="forward 1"
          href="javascript:void(0)"
          onclick="forward(0); return false;"
        />
        <area
          coords="93,1,115,19"
          title="forward 3"
          href="javascript:void(0)"
          onclick="forward3(0); return false;"
        />
        <area
          coords="116,1,138,19"
          title="to end"
          href="javascript:void(0)"
          onclick="goend(0); return false;"
        />
        <area
          coords="139,1,161,19"
          title="stop any playback"
          href="javascript:void(0)"
          onclick="stopanyplayback(0); return false;"
        />
        <area
          coords="162,1,184,19"
          title="autoplay"
          href="javascript:void(0)"
          onclick="astart(0); return false;"
        />
      </map>
      <img src="images/p3condb.gif" border="0" usemap="#map0" height="18" width="183" />
    </div>
  </div>
  <div class="controls">
    <div class="flippers">
      <img
        src="images/flipdiagonal.gif"
        title="flip top right to bottom left"
        onclick="pieceFlipDiag()"
      />
      <img
        src="images/flipHorizontal.jpg"
        title="flip side to side"
        onclick="pieceFlipHorz()"
      />
      <img
        src="images/flipvertical.gif"
        title="flip top to bottom"
        onclick="pieceFlipVert()"
      />
      <button onclick="passYourTurn()">
        PASS
      </button>
    </div>
    <div>
      <input type="text" size="3" readonly="1" value="0" id="BLUEscore" style="width: 4em;" />
      <span style={"BACKGROUND-COLOR: #{"BLUE"};"}>
        playerFullname hasPassed
      </span>
      <input type="text" size="6" readonly="1" value="" id="BLUEpassed" />'
    </div>
    <div class="piece-set">
      <img
        name="bluepieces"
        src="images/Ba.jpg"
        id="pieceBa"
        onclick='oc("Ba")'
        onmouseover='omin("Ba")'
        onmouseout='omout("Ba")'
      /><img
        src="images/Bb.jpg"
        id="pieceBb"
        onclick='oc("Bb")'
        onmouseover='omin("Bb")'
        onmouseout='omout("Bb")'
      /><img
        src="images/Bc.jpg"
        id="pieceBc"
        onclick='oc("Bc")'
        onmouseover='omin("Bc")'
        onmouseout='omout("Bc")'
      /><img
        src="images/Bd.jpg"
        id="pieceBd"
        onclick='oc("Bd")'
        onmouseover='omin("Bd")'
        onmouseout='omout("Bd")'
      /><img
        src="images/Be.jpg"
        id="pieceBe"
        onclick='oc("Be")'
        onmouseover='omin("Be")'
        onmouseout='omout("Be")'
      /><img
        src="images/Bf.jpg"
        id="pieceBf"
        onclick='oc("Bf")'
        onmouseover='omin("Bf")'
        onmouseout='omout("Bf")'
      /><img
        src="images/Bg.jpg"
        id="pieceBg"
        onclick='oc("Bg")'
        onmouseover='omin("Bg")'
        onmouseout='omout("Bg")'
      />
      <img
        src="images/Bh.jpg"
        id="pieceBh"
        onclick='oc("Bh")'
        onmouseover='omin("Bh")'
        onmouseout='omout("Bh")'
      /><img
        src="images/Bi.jpg"
        id="pieceBi"
        onclick='oc("Bi")'
        onmouseover='omin("Bi")'
        onmouseout='omout("Bi")'
      /><img
        src="images/Bj.jpg"
        id="pieceBj"
        onclick='oc("Bj")'
        onmouseover='omin("Bj")'
        onmouseout='omout("Bj")'
      /><img
        src="images/Bk.jpg"
        id="pieceBk"
        onclick='oc("Bk")'
        onmouseover='omin("Bk")'
        onmouseout='omout("Bk")'
      /><img
        src="images/Bl.jpg"
        id="pieceBl"
        onclick='oc("Bl")'
        onmouseover='omin("Bl")'
        onmouseout='omout("Bl")'
      /><img
        src="images/Bm.jpg"
        id="pieceBm"
        onclick='oc("Bm")'
        onmouseover='omin("Bm")'
        onmouseout='omout("Bm")'
      /><img
        src="images/Bn.jpg"
        id="pieceBn"
        onclick='oc("Bn")'
        onmouseover='omin("Bn")'
        onmouseout='omout("Bn")'
      />
      <img
        src="images/Bo.jpg"
        id="pieceBo"
        onclick='oc("Bo")'
        onmouseover='omin("Bo")'
        onmouseout='omout("Bo")'
      /><img
        src="images/Bp.jpg"
        id="pieceBp"
        onclick='oc("Bp")'
        onmouseover='omin("Bp")'
        onmouseout='omout("Bp")'
      /><img
        src="images/Bq.jpg"
        id="pieceBq"
        onclick='oc("Bq")'
        onmouseover='omin("Bq")'
        onmouseout='omout("Bq")'
      /><img
        src="images/Br.jpg"
        id="pieceBr"
        onclick='oc("Br")'
        onmouseover='omin("Br")'
        onmouseout='omout("Br")'
      /><img
        src="images/Bs.jpg"
        id="pieceBs"
        onclick='oc("Bs")'
        onmouseover='omin("Bs")'
        onmouseout='omout("Bs")'
      /><img
        src="images/Bt.jpg"
        id="pieceBt"
        onclick='oc("Bt")'
        onmouseover='omin("Bt")'
        onmouseout='omout("Bt")'
      /><img
        src="images/Bu.jpg"
        id="pieceBu"
        onclick='oc("Bu")'
        onmouseover='omin("Bu")'
        onmouseout='omout("Bu")'
      />
    </div>
  </div>
</div>

<hr />

<script
  type="text/javascript"
  src={Routes.static_path(@conn, "/assets/js/pentomino.js")}
>
  FindScrBrd();	// find the *named* board and the *named* piece stashes

  GoEnd();
</script>
<script type="text/javascript">
  InitSys()
  initPosition()
  // FindScrBrd();	// find the *named* board and the *named* piece stashes

  GoEnd();
</script>
