<a href="/kenken"><h1>Kenken</h1></a>

<div>
  <%= if @puzzle.published_at == nil do %>
    <input class="name-input" style="width: 20em;" value={@puzzle.name} type="text" maxlength="25" phx-blur="save_name"/>
    <button phx-click="publish">Publish</button>
  <% else %>
    <%= @puzzle.name %>
  <% end %>
</div>
<.kenken_board puzzle={@puzzle} />
