<section class="phx-hero">
  <h1><%= gettext "Welcome to %{name}!", name: "Phoenix" %></h1>
  <p>Peace of mind from prototype to production</p>
</section>

<h2>Go to <a href="/boards">all the boards</a></h2>
<h2>Go to the <a href="/collaborative_canvas">Collaborative Canvas</a></h2>
<h2>Go to the <a href="/pizza">pizza page</a></h2>
<h2>Go to the <a href="/street_food">SF food truck map</a></h2>
