<h1>Approved Street Food Vendors - By Distance from <%= @locationdescription %></h1>

<div class="nearby">
  <%= for venue <- @approved_street_foods do %>
    <div class="applicant"><%= venue.applicant %></div>
    <div class="fooditems"><%= venue.fooditems %></div>
    <div class="locationdescription"><%= venue.locationdescription %></div>
  <% end %>
</div>
